// start .sServices
.sServices {
	--sPT: #{rem(65)};
	--sPB: #{rem(65)};
	--sTPB: #{rem(26)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(75)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(30)};
	}
	&.bg-light {
		--cardColor: #{$white};
		.sServices__download,
		.sServices__card {
			background-color: $white;
		}
	}
	.section-title {
		h2 {
			font-family: 'Sitka';
			margin-bottom: rem(14);
			// max-width: 15em;
			@include media-breakpoint-up(md) {
				margin-bottom: rem(16);
			}
		}
		// p {
		// 	font-size: rem(15);
		// 	margin-bottom: 0;
		// 	@include media-breakpoint-up(md) {
		// 		font-size: rem(20);
		// 	}
		// }
	}
	.section-subtitle {
		font-size: rem(15);
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			font-size: rem(20);
		}
	}
	&__content {
		margin-bottom: rem(25);

		& > h3 {
			font-family: "Gilroy";
			margin-bottom: rem(16);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(30);
			}
		}
		.row {
			--bs-gutter-x: #{rem(23)};
			--bs-gutter-y: var(--bs-gutter-x);
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(30)};
			}
		}
		&--cards {
			@include media-breakpoint-up(md) {
				margin-bottom: rem(30);
			}
			.col-6 {
				@media (max-width: 427.98px) {
					width: 100%;
				}
			}
		}
		&--cards-lg {
			@include media-breakpoint-up(md) {
				margin-bottom: rem(35);
			}
		}
		&--docs {
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
		&--picture {
			h2 {
				@include rfs(50px);
				font-family: 'Sitka';
				margin-bottom: rem(24);
			}
			p {
				font-size: rem(18);
				&:not(:last-child) {
					margin-bottom: rem(28);
				}
			}
			picture {
				border-radius: $border-radius-lg;
				overflow: hidden;
				min-height: rem(388);
				@include media-breakpoint-up(lg) {
					min-width: rem(569);
					min-height: rem(450);
				}
				img {
					position: absolute;
				}
			}
		}
		&--slider {
			margin-bottom: rem(35);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
	}

	&__download {
		@include mt(0.2s);
		display: flex;
		padding: rem(25);
		background-color: var(--cardColor, #{$light});
		border-radius: $border-radius-lg;
		height: 100%;
		@include media-breakpoint-up(lg) {
			padding: rem(25) rem(32);
		}
		&:not(:hover) {
			.icon {
				@include media-breakpoint-up(lg) {
					opacity: 0.7;
				}
			}
			p {
				color: $body-color;
				text-decoration: underline;
			}
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
			}
		}
		.row {
			--bs-gutter-x: #{rem(23)};
			align-items: center;
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(23)};
			}
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(33)};
			}
		}
		.col {
			@media (max-width: 427.98px) {
				flex: 1 0 100%;
			}
		}
		.icon {
			@include mt(0.2s);
			font-size: rem(48);
			@include media-breakpoint-up(sm) {
				font-size: rem(70);
			}
		}
		p {
			@include mt(0.2s);
			@extend .mons;
			// font-size: rem(16);
			line-height: 145%;
			margin-bottom: 0;
			@include media-breakpoint-only(md) {
				// font-size: rem(14);
				// line-height: 120%;
			}
			@media (max-width: 427.98px) {
				// line-height: 120%;
				// font-size: rem(14);
			}
		}
	}
	&__card {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		padding: rem(22) rem(16);
		background-color: var(--cardColor, #{$light});
		height: 100%;
		border-radius: $border-radius-lg;
		@include media-breakpoint-up(md) {
			padding: rem(24) rem(32);
		}
		ul {
			li {
				// text-transform: uppercase;
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
			}
		}
		h4 {
			width: 100%;
			color: $primary;
			font-weight: bold;
			margin-bottom: rem(8);
			font-size: rem(27);
			font-family: "Gilroy";
			@include media-breakpoint-up(sm) {
				font-size: rem(30);
			}
			@include media-breakpoint-only(lg) {
				font-size: rem(27);
			}
		}
		p {
			display: block;
			width: 100%;
			// font-size: rem(12);
			// line-height: 130%;
			margin-bottom: 0;
			@include media-breakpoint-up(sm) {
				// font-size: rem(14);
			}
			@include media-breakpoint-only(lg) {
				// font-size: rem(12);
			}
			@media (max-width: 427.98px) {
				// font-size: rem(14);
			}
		}
		&--lg {
			padding: rem(37) rem(30);
			@include media-breakpoint-up(md) {
				padding: rem(37) rem(30);
			}
			h4 {
				margin-bottom: rem(27);
			}
			p {
				// font-size: rem(14) !important;
				line-height: 155%;
				margin-bottom: 1em;
			}
		}
		&--text {
			background-color: $white;
			padding: 0;
			@include media-breakpoint-up(md) {
				padding: 0;
			}
			h4 {
				margin-bottom: rem(27);
				img {
					margin-right: rem(12);
				}
			}
			p {
				font-size: rem(12) !important;
				line-height: 155%;
				margin-bottom: 1em;
				// @include media-breakpoint-up(sm) {
				// 	font-size: rem(18) !important;
				// }
				// @include media-breakpoint-only(md) {
				// 	font-size: rem(13) !important;
				// }
				// @include media-breakpoint-up(xl) {
				// 	font-size: rem(20) !important;
				// }
			}
			ul {
				li {
					margin-left: rem(20);
					// font-size: rem(18);
					margin-bottom: rem(20);
					// @include media-breakpoint-up(lg) {
					// 	font-size: rem(20);
					// }
				}
			}
		}
	}
	&__btn-wrap {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		width: rem(240);
		max-width: 100%;
	}
	&__slider {
		.swiper-wrapper {
			flex-wrap: wrap;
			// flex-direction: column;
			max-height: rem(520);
			@include media-breakpoint-up(sm) {
				max-height: rem(650);
			}
			@include media-breakpoint-up(md) {
				max-height: rem(615);
			}
			@include media-breakpoint-up(xl) {
				max-height: rem(720);
			}
		}
		.slider-controls {
			margin-top: rem(35);
			@include media-breakpoint-up(md) {
				margin-top: rem(40);
			}
		}
	}
	&__slide {
		height: calc((100% - 30px) / 2) !important;
	}
	&__slider-item {
		&:not(:hover) {
			color: $body-color;
		}
		&:hover {
			.icon {
				opacity: 0.7;
			}
		}
		p {
			font-size: rem(14);
			line-height: 130%;
			@include media-breakpoint-up(sm) {
				font-size: rem(16);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__img-wrap {
		@include block(270, 170);
		margin-bottom: rem(12);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(20);
		}
		picture {
			border-radius: $border-radius-lg;
			overflow: hidden;
		}
		.icon {
			@include a-cent;
			@include mt;
			font-size: rem(40);
			color: $white;
			@include media-breakpoint-up(sm) {
				font-size: rem(50);
			}
		}
	}
	&__btn-send {
		max-width: 15.5375rem;
		margin-left: auto;
		margin-right: auto;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sServices

.single-service {
	.service-wrap {
		.sServices {
			--sPT: #{rem(40)};
			--sPB: #{rem(40)};
			--sTPB: #{rem(45)};
			@include media-breakpoint-up(md) {
				--sPT: #{rem(50)};
				--sPB: #{rem(50)};
				--sTPB: #{rem(40)};
			}
			&:first-child {
				--sPT: #{rem(0)};
				--sPB: #{rem(0)};
				@include media-breakpoint-up(md) {
					--sPB: #{rem(0)};
					--sPT: #{rem(20)};
				}
			}
			&:last-child {
				--sPB: #{rem(75)};
				@include media-breakpoint-up(md) {
					--sPB: #{rem(110)};
				}
			}
			.section-title {
				h2 {
					max-width: 15em;
				}
				// p {
				// 	max-width: 38.4em;
				// }
			}
		}
	}
}
