.footer {
	padding-top: rem(60);
	padding-bottom: rem(64);
	@include media-breakpoint-up(lg) {
		padding-top: rem(48);
		padding-bottom: rem(41);
	}
	margin-top: auto;
	.logo-link {
		margin-bottom: 0;
		display: block;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(29);
			display: inline-block;
		}
	}
	&__col-menu {
		display: flex;
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(35);
		}
		@include media-breakpoint-up(lg) {
			flex-direction: column;
		}
		ul {
			list-style-type: none;
			display: flex;
			margin-bottom: 0;
			margin-left: rem(41);
			// max-width: rem(217);
			flex-wrap: wrap;
			justify-content: space-between;
			@include media-breakpoint-up(lg) {
				flex-direction: column;
				margin-left: 0;
				gap: 10px;
			}
			li {
				// max-width: 50%;
				a {
					color: $black;
					font-size: rem(12);

					@include media-breakpoint-up(lg) {
						font-size: rem(14);
					}
				}
				.icon {
					color: $purple;
					font-size: rem(4);
				}
				&:nth-child(1) {
					@include media-breakpoint-down(lg) {
						order: 1;
					}
				}
				&:nth-child(2) {
					@include media-breakpoint-down(lg) {
						order: 3;
					}
				}
				&:nth-child(3) {
					@include media-breakpoint-down(lg) {
						order: 2;
					}
				}
				&:nth-child(4) {
					@include media-breakpoint-down(lg) {
						order: 4;
					}
				}
			}
		}
	}
	h6 {
		// font-size: rem(20);
		font-size: rfs(20);
		color: $body-color;
		margin-bottom: rem(13);
		font-weight: 700;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(18);
		}
	}
	&__list {
		max-width: rem(291);
		list-style-type: none;
		margin-bottom: 0;
		li {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			a {
				color: $body-color;
				font-size: rem(10);
				&:hover {
					color: $purple;
				}
				@include media-breakpoint-up(lg) {
					font-size: rem(13);
				}
			}
		}
	}
	&__creators {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-up(lg) {
			flex-direction: column;
		}
		span {
			padding-top: rem(60);
			@include media-breakpoint-up(lg) { 
				padding-top: 0;
			}
			&:first-child {
				font-size: rem(13);
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(17);
				}
			}
			&:last-child {
				font-size: rem(12);
			}
		}
	}
	.menu {
		text-align: left;

		li {
			--bs-gutter-x: 0;
			a {
				padding-left: 0;
				padding-right: 21px;
				@include media-breakpoint-up(lg) {
					margin-right: 9px;
				}
			}
			&:hover {
				.sub-menu {
					transform: scale(1);
				}
			}
			.sub-menu {
				@include mt;
				margin-left: 10px;
				transform: scale(0);
				transform-origin: top;
				display: block; 
				position: absolute;
				margin-left: 0;
				padding: 15px;
				max-height: 200px;
    		overflow-y: scroll;
				top: 110%;
				left: 0;
				@include media-breakpoint-up(lg) {
					padding: 7px;
					max-width: rem(281);
					// top: -180%;
					// left: rem(186);
				}
			}
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
