// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	--sPT: 42px;
	--sPB: var(--sPT);
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
	background-color: $body-color;
	position: relative;
	z-index: 2;
	&__row{
		position: relative;
		// align-items: center;
		@include media-breakpoint-up(md) {
			min-height: rem(470);
		}
	}
	&__slider{
		// z-index: -1;
		@include a-cent;
	}
	.picture-bg{
		opacity: 0.5;
	}
	.request{
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(xl) {
			width: 470px;
		}
		@include media-breakpoint-up(lg) {
			width: 400px;
		}
	}
	&__text-block{
		color: #fff;
		@include media-breakpoint-up(md) {
			// align-self: center;
		}
		*{
			position: relative;
			z-index: 2;
		}
		h1{
			margin-bottom: 0.5em;
			@include media-breakpoint-down(md) {
				text-align: center;
			}
		}
		p {
			@include media-breakpoint-down(md) {
				font-size: rem(17) !important; 
			}
		}
	}
	&__subtitle {
		@include rfs(26px);
		max-width: rem(640);
		min-height: 4em;
	}
	.slider-controls{
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			// margin-top: em(100);
		}
		@include media-breakpoint-down(md) {
			margin-bottom: rem(72);
			margin-top: rem(50);
		}
	}
	.swiper-pagination-bullet{
		position: relative;
		z-index: 2;
	}

	&--2 {
		@include media-breakpoint-down(md) {
			margin-bottom: 211px;
			padding-top: rem(77);
		}
		@media (max-width: 380px) {
			margin-bottom: 255px;
		}
		@include media-breakpoint-down(sm) {
			// margin-bottom: 271px;
		}
		.headerBlock__text-block {
			@include media-breakpoint-up(lg) {
				padding-top: 67px;
			}
		}
		.request {
			@include media-breakpoint-down(sm) {
				// width: 100%;
				// bottom: -386px;
			}
		}
		.headerBlock__col-request {
			@include media-breakpoint-down(md) {
				position: absolute;
				left: 50%;
				bottom: -303px;
				width: 100%;
				max-width: rem(388);
				margin-left: auto;
				margin-right: auto;
				transform: translateX(-50%);
				z-index: 2;
			}
			@media (max-width: 380px) {
				bottom: -353px;
			}
		}
	}
	&--4 {
		background-color: #fff;
		.headerBlock__row {
			@include media-breakpoint-up(md) {
				min-height: auto;
			}
		}
		.img-wrap {
			max-width: rem(1290);
			left: 50%;
			transform: translateX(-50%);
			opacity: 1;
			// position: relative;
			// z-index: 2;
			&:before {
				content: '';
				background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}
	
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	
	@include media-breakpoint-down(lg) {}
	
	@include media-breakpoint-down(md) {}
	
	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.all-services {
	.headerBlock {
		--sPT: #{rem(117)};
		--sPB: 0;
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(164)};
			// --sPB: #{rem(221)};
		}
	}
}

.single-service {
	.headerBlock {
		--sPT: #{rem(117)};
		--sPB: #{rem(109)};
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(140)};
			--sPB: #{rem(145)};
		}
		button {
			@extend .btn, .btn-primary;
			width: 100%;
			max-width: rem(487);
		}
	}
}

.headerBlock {
	margin-bottom: rem(40 - 16);
	// max-width: 1920px;
	// --h: #{rem(599)};
	// height: var(--h);  
	// min-height: 100vh;
	&__slide{
		@extend .text-body, .tdn;
	}
	
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(80 - 17.5);
	}
	&__text-wrap {
		max-width: rem(382);
    position: absolute;
		
		@include media-breakpoint-up(sm) {
			top: 50%;
			transform: translateY(-50%);
		}
		top: 20px;
		h2 {
			@extend .h1;
		}
		@include media-breakpoint-down(lg) {
		}
	}
	.swiper-wrapper{
		position: relative;
	}
	p{
		margin-bottom: 2rem;
		font-size: rem(26);
	}
	&__inner{ 
		position: absolute; 
		z-index: 3;
		top: 0; 
		z-index: 8;
		padding-top: calc(40px + var(--topH)); 
		@include media-breakpoint-up(lg) {
			padding-top: calc(140px + var(--topH)); 
			// padding-top: 140px; 
		}
		width: 100%;
		// height: var(--h); 
		@include media-breakpoint-up(sm) {
		@include mt(1s);
		}
		// transform-origin: center bottom;
		// transform: translateY(calc(-1 * var(--slider-y) - var(--h)* var(--step)));
		// transform: translateY(0);
		// will-change: auto;
		// will-change:transform;
	}
	&__bg{
		// height: var(--h); 
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		// z-index: calc((var(--step) + 1)  * 2 );
	} 
	&__slide {

		*{
			z-index: 2;
		}
		picture{
			z-index: 1;
		}
		position: relative;
		// position: static !important;
		overflow: hidden;
		// height: var(--h);
		// min-height: 100vh;
		// display: flex;
		// flex-direction: column;
		position: relative;
		@include media-breakpoint-up(lg) {
			// justify-content: center;
			// height: rem(720);
		}
	}
}