mixin headerBlock()
	// start headerBlock
	+b.headerBlock--2.section.bg-wrap#headerBlock&attributes(attributes)
		+e.slider--js.swiper.main-slider
			.swiper-wrapper
				- for (var x = 0; x < 3; x++)
					+e.slide.swiper-slide.bg-wrap
						+pic("slide.jpg",'bg',0).picture-bg
						//- +e.text-block
						//- 	.container
						//- 		+e.row.row
						//- 			.col.col-lg-6
						//- 				h1 Земельные<br>активы
						//- 				p Продажа земельных участков коммерческого назначения в Москве и городах России
		.container
			+e.row.row
				.col.col-lg-6
					+e.slider-text--js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 3; x++)
								+e.slide.swiper-slide
									+e.text-block
										h1 Земельные<br>активы
										p Продажа земельных участков коммерческого назначения в Москве и городах России
					+slider-controls
				+e.col-request.col-auto
					+request()

	// end headerBlock
mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--2.section.bg-wrap#headerBlock&attributes(attributes)
		+pic("slide.jpg",'bg',0).picture-bg
		.container
			+e.row.row
				.col
					+e.text-block
						h1 Земельные активы
						p Продажа земельных участков коммерческого назначения в Москве и городах России 
					//- +slider-controls
				+e.col-request.col-auto
					+request()

	// end headerBlock

mixin headerBlock3()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+pic("slide.jpg",'bg',0).picture-bg
		.container
			+e.row.row
				.col
					+e.text-block
						h1 О компании  Veresk&nbsp;Group
						p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis. 
					//- +slider-controls
		
	// end headerBlock

mixin headerBlock4()
	// start headerBlock
	+b.headerBlock--4.section.bg-wrap#headerBlock&attributes(attributes)
		+pic("slide.jpg",'bg',0).picture-bg.img-wrap
		.container
			+e.row.row
				.col
					+e.text-block
						h1 О компании  Veresk&nbsp;Group
						p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis. 
						a.btn.btn-primary.link-modal-js(href='#request') Отправить заявку на подбор или продажу участка
	//- +slider-controls