mixin sCatalogItem(data)
	// start sCatalogItem
	+b.SECTION.sCatalogItem.section#sCatalogItem&attributes(attributes)
		.container
			+b.section-title
				h2 Участок под строительство жилья
			+e.head-row.row
				+e.col-item.col
					h6 Стоимость
					+e.price 13 млн. ₽
				.col
					h6 Площадь
					+e.price 2.80 га
				.col-auto
					+e.link(href="#")
						+icon('document-small')
						span Презентация объекта
				//- .col-lg-auto
				//- 	.row
				//- 		.col-auto
				//- 			+e.link(href="#")
				//- 				+icon('play-small')
				//- 				span Видео
				//- 		.col-auto
				//- 			+e.link(href="#")
				//- 				+icon('picture')
				//- 				span Панорама
				//- 		.col-auto
				//- 			+e.link(href="#")
				//- 				+icon('document-small')
				//- 				span Презентация объекта
			+e.main-row.row
				.col
					h3 Об участке
					table
						mixin tr(l, r)
							tr
								td!= l
								td!= r
						+tr(`Номер лота`, `77823002`)
						+tr(`Адрес`, `Lorem ipsum dolor sit amet`)
						+tr(`Координаты`, `Широта: 55° 45' северной широты <br> Долгота: 37° 37' восточной долготы`)
						+tr(`Район`, `77823002`)
						+tr(`Расположение`, `Москва`)
						+tr(`Шоссе`, `Алтуфьевское`)
						+tr(`Удаленность`, `00 км`)
						+tr(`Назначение`, `Многоэтажное жилищное строительство`)
						+tr(`Кадастровый номер`, `77:05:0001010:3877`)
						+tr(`Наличие градостроительной документации`, `Да`)
					p Земельные участки общей площадью 2,83&nbsp;га под строительство группы жилых домов с&nbsp;нежилыми помещениями, расположенные в&nbsp;Правобережном округе города Иркутск вдоль реки Ушакова.
					p Согласно генплану, на&nbsp;предлагаемом активе может планироваться возведение 2-ой и&nbsp;3-ей очередей строительства жилых многоквартирных домов. Реализация земельных участков будет произведена путем переуступки права аренды. Также есть проект и&nbsp;действующие разрешения на&nbsp;строительство 12&nbsp;блок-секций (17&nbsp;этажей) от&nbsp;23.12.2013&nbsp;г.
					p Инженерное обеспечение проекта подразумевает подключение к&nbsp;следующим системам: теплоснабжение, электроснабжение, водоснабжение и&nbsp;канализация.
					p Вокруг участков располагаются оживленные жилые кварталы. На&nbsp;данный момент в&nbsp;эксплуатацию уже сдано 9&nbsp;блок-секций, где проживает около 3&nbsp;000&nbsp;человек, из&nbsp;которых по&nbsp;большей части это молодые семьи с&nbsp;детьми. Квартиры в&nbsp;районе пользуются огромным спросом.
				+e.col.col-lg-auto
					.row
						.col-12
							h3 Границы участка
							+e.img-wrap(href="img/@2x/sCatalogItem-2.jpg" data-fancybox="sCatalogItem-1")
								+pic(`sCatalogItem-2.jpg`, `bg`, 0)
						.col-12
							h3 Фотогалерея
							+e.slider--js
								.swiper-wrapper
									+e.img-wrap(href="img/@2x/sCatalogItem-3.jpg" data-fancybox="sCatalogItem-2").swiper-slide
										+pic(`sCatalogItem-3.jpg`, `bg`, 0)
									+e.img-wrap(href="img/@2x/sCatalogItem-3.jpg" data-fancybox="sCatalogItem-2").swiper-slide
										+pic(`sCatalogItem-3.jpg`, `bg`, 0)
									+e.img-wrap(href="img/@2x/sCatalogItem-3.jpg" data-fancybox="sCatalogItem-2").swiper-slide
										+pic(`sCatalogItem-3.jpg`, `bg`, 0)
									+e.img-wrap(href="img/@2x/sCatalogItem-3.jpg" data-fancybox="sCatalogItem-2").swiper-slide
										+pic(`sCatalogItem-3.jpg`, `bg`, 0)
								+arrow
				.col-12
					+e.map-wrap
						h3 Расположение участка
						+e.map
							+e.map-widget#map2
						+e.row.row
							.col.col-lg-4
								+e.map-link(href="#").btn.btn-primary Отправить заявку
							.col.col-lg-4
								+e.map-link(href="#").btn.btn-primary Задать вопрос
							.col-auto.col-lg-4
								+e.map-link--2(href="#request2").btn.btn-outline-primary.link-modal-js
									+icon('document')
									| Запросить документы
	// end sCatalogItem