// start .sCatalogItem
.sCatalogItem {
	--sPT: #{rem(112)};
	--sPB: #{rem(77)};
	--sTPB: #{rem(21)};
	background-color: $light;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(112)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(30)};
	}
	.section-title {
		h2 {
			font-family: 'Sitka';
			@include rfs(50px);
		}
	}
	&__col-item {
		flex: 0 0 33%;
	}
	&__head-row {
		@extend .mons;
		position: relative;
		align-items: flex-end;
		margin-bottom: rem(34);
		background: rgba(189, 0, 110, 0.7);
		border-radius: 10px;
		padding: rem(15) rem(25);
		color: $white;
		width: 100%;
    margin-left: 0;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(50);
			// padding-bottom: rem(15);
			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	width: calc(100% - var(--bs-gutter-x));
			// 	height: 1px;
			// 	left: calc(var(--bs-gutter-x) / 2);
			// 	bottom: 0;
			// 	background-color: $secondary-light;
			// }
		}
		h6 {
			font-family: $font-family-sans-serif;
			font-size: rem(18);
			line-height: 93.5%;
			margin-bottom: rem(5);
		}
		.row {
			--bs-gutter-x: #{rem(12)};
			--bs-gutter-y: var(--bs-gutter-x);
			@include media-breakpoint-up(sm) {
				--bs-gutter-x: #{rem(16)};
			}
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(26)};
			}
		}
	}
	&__price {
		position: relative;
		font-weight: 500;
		font-size: 34px;
		line-height: 145%;
		margin-bottom: 0;
		// padding-bottom: rem(8);
		white-space: nowrap;
		@include media-breakpoint-up(lg) {
			// padding-bottom: 0;
			// margin-bottom: 0;
		}
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 1px;
		// 	left: 0;
		// 	bottom: 0;
		// 	background-color: $secondary-light;
		// 	@include media-breakpoint-up(lg) {
		// 		content: none;
		// 	}
		// }
	}
	&__link {
		display: flex;
		align-items: center;
		color: $white;
		margin-bottom: 6px;
		// &:not(:hover) {
		// 	span {
		// 		color: $body-color;
		// 		&::after {
		// 			opacity: 1;
		// 		}
		// 	}
		// }
		.icon {
			font-size: rem(25);
			min-width: 1em;
			margin-right: rem(5);
			@include media-breakpoint-up(md) {
				margin-right: rem(8);
				font-size: rem(30);
			}
		}
		span {
			display: inline-block;
			position: relative;
			font-size: rem(14);
			line-height: 145%;
			color: $white;
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
			&::after {
				content: "";
				@include mt(0.2s);
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 15%;
				background-color: currentColor;
				opacity: 0;
			}
		}
	}
	&__main-row {
		--bs-gutter-y: #{rem(32)};
		h3 {
			font-weight: 600;
			margin-bottom: rem(19);
		}
		table {
			width: 100%;
			margin-bottom: rem(66);
			tr {
				border-bottom: 1px solid $secondary-light;
				td {
					padding-top: rem(8);
					padding-bottom: rem(8);
					@include media-breakpoint-only(lg) {
						padding-top: rem(7);
						padding-bottom: rem(6);
					}
					@include media-breakpoint-up(xl) {
						padding-top: rem(13.5);
						padding-bottom: rem(5);
					}
				}
				&:first-child {
					td {
						padding-top: 0;
					}
				}
			}
			td {
				font-size: rem(12);
				line-height: 155%;
				width: 50%;
				@include media-breakpoint-up(md) {
					font-size: rem(16);
				}
				&:last-child {
					text-align: right;
				}
			}
		}
	}
	&__col {
		.row {
			--bs-gutter-y: #{rem(32)};
			@include media-breakpoint-up(lg) {
				max-width: calc(var(--bs-gutter-x) + #{rem(370)});
			}
			picture {
				@include block(569, 506);
				border-radius: $border-radius-lg;
				overflow: hidden;
				@include media-breakpoint-down(lg) {
					--ratio: 356/569;
				}
				img {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	&__slider {
		--swiperArrowPosition: 5%;
		--swiperArrowSize: #{rem(43)};
		border-radius: $border-radius-lg;
		overflow: hidden;
		position: relative;
		@include media-breakpoint-up(md) {
			--swiperArrowSize: #{rem(43)};
		}
		picture {
			border-radius: 0 !important;
		}
	}
	&__map-wrap {
		@include media-breakpoint-up(lg) {
			margin-top: rem(10);
		}
		h3 {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(30);
			}
		}
	}
	&__map {
		position: relative;
		border-radius: 0 0 $border-radius-lg $border-radius-lg;
		overflow: hidden;
		height: rem(332);
		// margin-top: rem(60);
		margin-bottom: rem(12);
		@include media-breakpoint-up(lg) {
			height: rem(400);
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(30);
			height: rem(430);
		}

		&-widget {
			height: 100%;
			width: 100%;
			// @include media-breakpoint-up(md) {
			// 	width: calc(((100vw - 100%) / 2) + 100%);
			// }
			// & > * {
			// 	height: 100%;
			// }
			// .ymaps-2-1-79-ground-pane {
			// 	//  @include mt;
			// 	transition: filter 0.3s;
			// }
			// &:not(:hover) .ymaps-2-1-79-ground-pane {
			// 	// filter: saturate(0);
			// 	filter: grayscale(1);
			// }
		}
	}
	&__row {
		--bs-gutter-y: #{rem(15)};
		margin-top: rem(38);
		@include media-breakpoint-up(lg) { 
			margin-top: rem(68);
		}
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}
	&__map-link {
		width: 100%;
    padding: rem(19.5) rem(10);
		&--2 {
			padding: rem(11) rem(10);
			border-width: 2px;
			font-weight: 600;
			// margin-left: rem(6);
			.icon {
				font-size: rem(36);
				margin-right: 10px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalogItem
