// start .sObjects
.sObjects {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.section-title {
		h2 {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(16);
			}
		}
		&--indent {
			margin-bottom: rem(47);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(51);
			}
		}
		&--sObject {
			max-width: rem(786);
		}
	}
	&__row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: var(--bs-gutter-x);
		margin-bottom: rem(63);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(81);
		}
	}
	&__col {
		flex-direction: column;
		@media (max-width: 427.98px) {
			width: 100%;
		}
	}
	.small-card-item {
		h4 {
			font-family: "Gilroy";
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	picture {
		border-radius: $border-radius-lg;
		overflow: hidden;
		height: 100%;
		min-height: rem(376);
		@media (min-width: 428px) {
			min-height: auto;
		}
		// @include media-breakpoint-up(xl) {
		// 	--ratio: 385/869;
		// }
		// @include media-breakpoint-up(lg) {
		// 	--ratio: 285/500;
		// }
		// @include media-breakpoint-up(md) {
		// 	--ratio: 205/173;
		// }
		// @include media-breakpoint-up(sm) {
		// 	--ratio: 280/173;
		// }
		// @include block(173,376);
		img {
			position: absolute;
			left: 0;
			top: 0;
			object-position: 62%;
		}
	}
	&__objects-paragraph {
		margin-bottom: rem(27);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		h4 {
			font-size: rem(30);
			color: $purple;
			font-weight: 700;
			margin-bottom: rem(27);
			font-family: "Gilroy";
			@include media-breakpoint-up(md) {
				margin-bottom: rem(44);
			}
		}
		// p {
		// 	font-size: rem(12);
		// 	margin-bottom: 0;
		// 	@include media-breakpoint-up(lg) {
		// 		font-size: rem(20);
		// 	}
		// }
		p {
			// font-size: rem(12) !important;
			// line-height: 155%;
			// margin-bottom: 1em;
			@include media-breakpoint-up(sm) {
				font-size: rem(18) !important;
			}
			// @include media-breakpoint-only(md) {
			// 	font-size: rem(13) !important;
			// }
			@include media-breakpoint-up(xl) {
				font-size: rem(20) !important;
			}
		}
	}
	// &__col-full-img {
	// 	picture {
	// 		@include media-breakpoint-up(lg) {
	// 			--ratio: 450/1170;
	// 		}
	// 		@include media-breakpoint-up(md) {
	// 			--ratio: 208/517;
	// 		}
	// 		@include media-breakpoint-up(sm) {
	// 			--ratio: 78/173;
	// 		}
	// 		@include block(388, 347);
	// 	}
	// }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sObjects