// start .sBestDeals
.sBestDeals {
	--sPT: #{rem(74)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(34)};
	background-color: $light;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
		--sTPB: #{rem(30)};
	}
	.section-title {
		// text-align: left;
		// @include media-breakpoint-up(md) {
		// 	text-align: center;
		// }
		h2 {
			margin-bottom: rem(32);
			max-width: 20em;
			@include media-breakpoint-up(md) {
				max-width: 100%;
				margin-bottom: rem(16);
			}
		}
		p {
			font-size: rem(15);
			// max-width: 30em;
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				font-size: rem(20);
			}
			// &:last-child {
			// 	margin-bottom: 0;
			// }
		}
	}
	.product-item {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(300);
		@media (min-width: 428px) {
			max-width: 100%;
		}
	}
	&__slide {
		height: auto;
	}
	.slider-controls {
		justify-content: center;
		margin-top: rem(32);
		// margin-left: auto;
    // margin-right: auto;
		@include media-breakpoint-up(md) {
			justify-content: flex-start;
			margin-top: rem(30);
		}
		.swiper-pagination {
			position: static !important;
			@include media-breakpoint-up(md) {
				transform: none;
			}
		}
		.swiper-button-hand {
			position: relative;
			&-prev {
				left: 0;
			}
			&-next {
				right: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sBestDeals

