mixin sCatalogMain(data)
	// start sCatalogMain
	+b.SECTION.sCatalogMain.section#sCatalogMain&attributes(attributes)
		.container
			+b.section-title
				h2 В&nbsp;нашей базе десятки тысяч земельных участков
				//- p Pellentesque mollis nibh non nibh laoreet vulputate.
				//- p Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.
			.row
				mixin sCatalogMainItem(i, t)
					.col-md-6.col-lg-4
						+e.item(href="#")
							+pic(`sCatalogMain-${i}.jpg`, `bg`, 0)
							h5!= t
							+e.wrap
								+e.number
									span 101
									span в Москве<br>и МО
								+e.number
									span 10
									span в регионах<br>(Регионы)
				+sCatalogMainItem(7, `Многоэтажное жилищное строительство`)
				+sCatalogMainItem(8, `Индивидуальное жилищное строительство`)
				+sCatalogMainItem(9, `Промышленное <br> назначение`)
				+sCatalogMainItem(10, `Коммерческое <br> назначение`)
				+sCatalogMainItem(11, `Рекреационное <br> назначение`)
				+sCatalogMainItem(12, `Сельскохозяйственное использование`)
				
	// end sCatalogMain