.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		border: 2px solid transparent;
		color: $white;
		background-color: $primary;
		border-radius: 50%;
		width: rem(38);
		height: rem(38);
		&:hover {
			border-color: $primary;
			color: $primary;
			background-color: $white;
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(15);
		&.icon-viber {
			margin-top: 2px;
			font-size: rem(17);
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.product-item {
	display: flex;
	flex-direction: column;
	// max-width: rem(270);
	padding: rem(15) rem(15) rem(20);
	background-color: $white;
	border-radius: $border-radius-lg;
	height: 100%;
	&:hover {
		--sc: 1.12
	}
	@media (min-width: 428px) and (max-width: 500px) {
		padding: rem(10) rem(10) rem(15);
	}
	picture {
		@include block(240, 220);
		border-radius: $border-radius-lg;
		overflow: hidden;
		margin-bottom: rem(22);
		@media (min-width: 428px) and (max-width: 500px) {
			margin-bottom: rem(15);
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			@include mt;
			transform: scale(var(--sc, 1));
		}
	}
	h6 {
		margin-bottom: rem(14);
		font-weight: 600;
		max-width: 13em;
		flex-grow: 1;
		font-family: "Gilroy";
		@media (min-width: 428px) and (max-width: 500px) {
			font-size: rem(14);
			margin-bottom: rem(15);
		}
	}
	p {
		font-size: rem(10);
		margin-bottom: rem(20);
		color: #949494;
	}
	table {
		width: 100%;
		font-size: rem(14);
		line-height: 110%;
		margin-bottom: rem(15);
		@media (min-width: 428px) and (max-width: 500px) {
			font-size: rem(10);
		}
		tr {
			border-bottom: 1px solid $secondary-light;
			&:last-child {
				border: none;
			}
		}
		td {
			padding-top: rem(15);
			padding-bottom: rem(15);
			padding-right: rem(12);
			@media (min-width: 428px) and (max-width: 500px) {
				padding-top: rem(10);
				padding-bottom: rem(10);
			}
			&:first-child {
				padding-right: rem(5);
			}
		}
	}
	&__price {
		font-weight: 600;
		font-size: rem(24);
		line-height: 93%;
		margin-bottom: rem(30);
		@media (min-width: 428px) and (max-width: 500px) {
			font-size: rem(18);
			margin-bottom: rem(20);
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		width: 100%;
		font-weight: 600;
		@media (min-width: 428px) and (max-width: 500px) {
			font-size: rem(14);
			padding: rem(10);
		}
	}
}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: rem(224);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(md) {
		margin-left: 0;
		width: rem(344);
	}
	.swiper-button-hand {
		min-width: var(--swiperArrowSize);
		--swiperArrowPosition: 0;
		--swiperArrowSize: #{rem(32)};
		@include media-breakpoint-up(md) {
			--swiperArrowSize: #{rem(43)};
			&-prev {
				left: -72px;
			}
			&-next {
				right: -72px;
			}
		}
		@include media-breakpoint-down(md) {
			position: relative;
		}
	}
	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		flex-wrap: wrap;
		width: auto;
		margin-left: rem(5);
		margin-right: rem(5);
		@include media-breakpoint-up(md) {
			margin-left: rem(18);
			margin-right: rem(18);
			position: absolute;
			left: 50%;
    	bottom: 0;
			transform: translateX(-50%);
			z-index: 10;
		}
		&-bullet {
			background-color: #c4c4c4;
			border: 1.73px solid #c4c4c4;
			width: rem(10);
			height: rem(10);
			margin-left: rem(7);
			margin-right: rem(7);
			margin-top: rem(3);
			margin-bottom: rem(3);
			@include media-breakpoint-up(md) {
				width: rem(17);
				height: rem(17);
				margin-left: rem(10);
				margin-right: rem(10);
				border: 3px solid #c4c4c4;
			}
			&-active,
			&:hover {
				background-color: var(--bs-primary);
			}
		}
	}
}

.request {
	border-radius: $border-radius-lg;
	background-color: $white;
	padding: rem(9.5) rem(8);
	// max-width: rem(470);
	@include media-breakpoint-up(md) {
		padding: rem(10);
	}
	.form-wrap {
		border: 1px solid $light-gray;
		border-radius: $border-radius-lg;
		padding: rem(28) rem(25);
		// filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
		@include media-breakpoint-up(md) {
			padding: rem(30);
		}
		h4 {
			font-family: "Sitka Text";
			line-height: 120%;
			margin-bottom: rem(10);
		}
		&__subtitle {
			font-size: rem(15);
			line-height: 120%;
			margin-bottom: rem(16);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
		}
		&__row {
			--bs-gutter-x: #{rem(10)};
			--bs-gutter-y: #{rem(9)};
			@include media-breakpoint-up(md) {
				--bs-gutter-y: #{rem(10)};
			}
		}
		label.btn {
			border-radius: $border-radius;
			font-size: rem(14);
			line-height: 115%;
			padding: rem(14) rem(18);
		}
		&__btn {
			@extend .btn, .btn-primary;
			font-size: rem(18);
			width: 100%;
			margin-top: rem(16);
			margin-bottom: rem(6);
			@include media-breakpoint-up(md) {
				margin-top: rem(9);
				margin-bottom: rem(12);
			}
		}
		&__agreement {
			font-size: rem(12);
			line-height: calc(15 / 12);
			max-width: 26em;
			@include media-breakpoint-up(md) {
				max-width: 27em;
			}
			a {
				position: relative;
				display: inline-block;
				&:not(:hover) {
					color: $body-color;
					&::after {
						background-color: currentColor;
					}
				}
				&::after {
					content: "";
					@include mt;
					position: absolute;
					width: 100%;
					height: 1px;
					left: 0;
					bottom: 1px;
					background-color: transparent;
				}
			}
		}
	}
	&--lg {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(470);
		background-color: $light;
		@include media-breakpoint-up(md) {
			max-width: 100%;
			padding: 0;
		}
		h2 {
			@extend .h4;
			font-family: "Sitka Text";
			line-height: 120%;
			margin-bottom: rem(10);
		}
		.form-wrap {
			@include media-breakpoint-up(md) {
				border-color: transparent;
				padding: 5%;
			}
			&__row {
				align-items: center;
				@include media-breakpoint-up(lg) {
					--bs-gutter-x: #{rem(18)};
					--bs-gutter-y: #{rem(18)};
				}
			}
			&__btn {
				@include media-breakpoint-up(md) {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			&__col {
				@include media-breakpoint-up(md) {
					width: calc(40% + var(--bs-gutter-x));
				}
				@include media-breakpoint-up(xl) {
					width: calc(35.58% + var(--bs-gutter-x));
				}
			}
			&__agreement {
				@include media-breakpoint-up(md) {
					margin-left: rem(7);
				}
			}
		}
	}
}

.breadcrumb-wrap {
	position: absolute;
	width: 100%;
	pointer-events: none;
	z-index: 3;
	&.light {
		.breadcrumb {
			.breadcrumb-item {
				a {
					color: $white;
					&:hover {
						color: #e3e3e3;
					}
				}
				& + .breadcrumb-item:before {
					color: $white;
				}
				&.active {
					a {
						color: #e3e3e3;
					}
				}
			}
		}
	}
}
.breadcrumb {
	display: inline-flex;
	padding-top: 20px;
	// flex-wrap: nowrap;
	@include media-breakpoint-up(md) {
		padding-top: rem(20);
	}
	.swiper-wrapper {
		pointer-events: none;
	}
	.swiper-slide {
		pointer-events: all;
		width: auto;
	}
	.breadcrumb-item {
		padding-right: .5rem;
		padding-left: 0;
		margin-bottom: rem(5);
		a {
			&:not(:hover) {
				color: $body-color;
				text-decoration: underline;
			}
		}
		&.active {
			a {
				color: $breadcrumb-active-color;
				pointer-events: none;
				text-decoration: none;
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}
	.breadcrumb-item + .breadcrumb-item {
		padding-left: .5rem;
	}
}

.small-card-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: rem(22) rem(16);
	background-color: $light;
	// height: 100%;
	max-height: rem(121);
	border-radius: $border-radius-lg;
	@include media-breakpoint-up(md) {
		padding: 9.2%;
	}
	h4 {
		width: 100%;
		color: $primary;
		font-weight: bold;
		margin-bottom: rem(8);
		font-size: rem(27);
		@include media-breakpoint-up(sm) {
			font-size: rem(30);
		}
		@include media-breakpoint-only(lg) {
			font-size: rem(27);
		}
	}
	span {
		display: block;
		width: 100%;
		font-size: rem(12);
		line-height: 130%;
		@include media-breakpoint-up(sm) {
			font-size: rem(14);
		}
		@include media-breakpoint-only(lg) {
			font-size: rem(12);
		}
		@media (max-width: 427.98px) {
			font-size: rem(14);
		}
	}
}
