include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")


mixin product-item(t)
	+b.product-item
		a(href="#") 
			+pic(`product-item-1.png`, `bg`, 0)
		h6!= t
		p id 12345
		table
			tr
				td Регион
				td.text-end Москва
			tr
				td Площадь
				td.text-end 20,30 га
			tr
				td Дата актуальности <br> информации
				td.text-end 10.01.2022
		+e.price 35 млн. ₽
		+e.btn(href="#") Подробнее

mixin slider-controls
	+b.slider-controls
		.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
			+icon('arrow-left')
		.swiper-pagination
		.swiper-button-hand.swiper-button-hand-next.swiper-button-next
			+icon('arrow-right')

mixin request()
	+b.request
		+form-wrap
			h4 Подбор или продажа земельного участка
			+e.subtitle Перезвоним вам в&nbsp;течение 15&nbsp;минут <br> в&nbsp;рабочее время
			+e.row.row
				//- .col-6
				//- 	label
				//- 		input.btn-check(type='radio' name='name1' autocomplete='off')
				//- 		.btn.btn-sm.w-100.btn-outline-primary( ) Подбор
				//- .col-6
				//- 	label
				//- 		input.btn-check(type='radio' name='name1' autocomplete='off')
				//- 		.btn.btn-sm.w-100.btn-outline-primary() Продажа
				//- .col-12
				//- 	+input("Ваше имя", "text")
				//- .col-12
				//- 	+input("Номер телефона", "tel")
				//- .col-12
				//- 	+input("Email", "email")
				//- .col-12
				//- 	+e.BUTTON.btn Отправить заявку
				.col-12
					+e.btn(href="#request2").link-modal-js Отправить заявку
				.col-12
					+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных]

mixin request2()
	+b.request--lg
		+form-wrap
			h2 Подбор или продажа земельного участка
			+e.subtitle Перезвоним вам в&nbsp;течение 15&nbsp;минут в&nbsp;рабочее время
			+e.row.row
				.col-6
					label
						input.btn-check(name='name1' type='radio' autocomplete='off')
						.btn.btn-sm.w-100.btn-outline-primary( ) Подбор
				.col-6
					label
						input.btn-check(name='name1' type='radio' autocomplete='off')
						.btn.btn-sm.w-100.btn-outline-primary() Продажа
				.col-md-4
					+input("Ваше имя", "text")
				.col-md-4
					+input("Номер телефона", "tel")
				.col-md-4
					+input("Email", "email")
				+e.col.col-md-auto
					+e.BUTTON.btn Отправить заявку
				.col
					+e.agreement Отправляя заявку, вы&nbsp;даете свое согласие на&nbsp;обработку #[a(href="#") персональных данных]

//- mixin breadcrumb-wrap()
//- 	+b.breadcrumb-wrap
//- 		.container
//- 			block

mixin small-card(title, text)
	+b.small-card-item
		h4!= title
		span!= text

mixin logo()
	+b.logo-link(href="#")
		img(src="img/svg/logo.svg" loading="lazy", alt="")


mixin pagehead(t,p)
	+b.page-head
		.container
			h1 
			if p
				p
			block