mixin filter(mapFilter)
	+b.filter-block&attributes(attributes)
		+e.head.h5.fw-600.mb-4 Фильтр
		+e.close.filter-toggle-js.d-lg-none
		+e.inner
			mixin item(t, ...items)
				+e.group&attributes(attributes)

					+e.title= t
					+e.group-inner
						each item in items
							+in-c("checkbox", item)
						block
			if mapFilter
				+item('Назначение').mapFilter
					+in-c("checkbox",'Многоэтажное жилищное строительство')(checked class="map-dot-input" style="--color-map:#FF0000")
					+in-c("checkbox",'Индивидуальное жилищное строительство')(checked class="map-dot-input" style="--color-map:#00ff00")
					+in-c("checkbox",'Промышленное назначение')(checked class="map-dot-input" style="--color-map:#0000FF")
					+in-c("checkbox",'Коммерческое назначение')(checked class="map-dot-input" style="--color-map:#F8B708")
					+in-c("checkbox",'Рекреационное назначение')(checked class="map-dot-input" style="--color-map:#15E3F0")
					+in-c("checkbox",'Сельскохозяйственное использование')(checked class="map-dot-input" style="--color-map:#FFAAAA")
					+in-c("checkbox",'Многоэтажное жилищное строительство')(checked class="map-dot-input" style="--color-map:#FF0000")
					+in-c("checkbox",'Индивидуальное жилищное строительство')(checked class="map-dot-input" style="--color-map:#00ff00")
					+in-c("checkbox",'Промышленное назначение')(checked class="map-dot-input" style="--color-map:#0000FF")
					+in-c("checkbox",'Коммерческое назначение')(checked class="map-dot-input" style="--color-map:#F8B708")
					+in-c("checkbox",'Рекреационное назначение')(checked class="map-dot-input" style="--color-map:#15E3F0")
					+in-c("checkbox",'Сельскохозяйственное использование')(checked class="map-dot-input" style="--color-map:#FFAAAA")
			+item(`Регион`,`Москва`,`Московская область`,`Регионы`)
			+item(`Шоссе`,`Алтуфьевское`,`Боровское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`)
			+item(`Удаленность`).remoteness
				+e.line.row
					.small.col-auto от
					.col
						+input()
					.small.col-auto от
					.col
						+input()
					.small.col-auto км

				+e.title Площадь
				+e.line.row
					.small.col-auto от
					.col
						+input()
					.small.col-auto от
					.col
						+input()
					.small.col-auto соток
				+e.title Цена млн.
				+e.line.row
					.small.col-auto от
					.col
						+input()
					.small.col-auto от
					.col
						+input()
					.small.col-auto ₽
				+in-c("checkbox", 'Возможно совместное освоение')
			+item(`Поиск по id`).id
				+e.line.row
					.small.col-auto id
					.col
						+input()
				+in-c("checkbox", 'с ГПЗУ или РнС')
			//- +item(`Назначение`,`Многоэтажное жилищное строительство`,`Индивидуальное жилищное строительство`,`Промышленное назначение`,`Коммерческое назначение`,`Рекреационное назначение`,`Сельскохозяйственное использование`)
			+e.footer.text-center
				button.btn.btn-primary.w-100.mb-2 Показать участки
				.fw-600 Сбросить фильтр

		//- +item(`Назначение`,`Многоэтажное жилищное строительство`,`Индивидуальное жилищное строительство`,`Промышленное назначение`,`Коммерческое назначение`,`Рекреационное назначение`,`Сельскохозяйственное использование`)
		//- +e.footer.text-center
		//- 	button.btn.btn-primary.w-100.mb-2 Показать участки
		//- 	.fw-600 Сбросить фильтр
			
mixin filter2()
	+b.filter-block&attributes(attributes)
		+e.head.h5.fw-600.mb-4 Фильтр
		+e.close.filter-map-close-js
		.row
			mixin item(t, ...items)
				+e.group&attributes(attributes)

					+e.title= t
					+e.group-inner
						each item in items
							+in-c("checkbox", item)
						block
			.col-lg-4
				+item(`Регион`,`Москва`,`Московская область`,`Регионы`)
				+item(`Шоссе`,`Алтуфьевское`,`Боровское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`)
			.col-lg-4
				+item(`Удаленность`)
					+e.line.row
						.small.col-auto от
						.col
							+input()
						.small.col-auto от
						.col
							+input()
						.small.col-auto км

					+e.title Площадь
					+e.line.row
						.small.col-auto от
						.col
							+input()
						.small.col-auto от
						.col
							+input()
						.small.col-auto соток
					+e.title Цена
					+e.line.row
						.small.col-auto от
						.col
							+input()
						.small.col-auto от
						.col
							+input()
						.small.col-auto ₽
			.col-lg-4
				+item(`Назначение`,`Многоэтажное жилищное строительство`,`Индивидуальное жилищное строительство`,`Промышленное назначение`,`Коммерческое назначение`,`Рекреационное назначение`,`Сельскохозяйственное использование`)
		+e.footer.text-center
			.row.align-items-center
				.col-lg-4
					button.btn.btn-primary.w-100.mb-2 Показать участки
				.col-lg-auto
					.fw-600 Сбросить фильтр

mixin sSearch(h1)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes).bg-light
		.container
			if h1
				+b.section-title
					h1= h1
			else
				+b.section-title.text-center
					h2 Воспользуйтесь поиском
				//- p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.
			//- .h3.fw-600.mb-3 Отображение подбора
			+e.row-head.row.g-3.mb-4
				//- .col-auto
				//- 	+e.btn(href="#").active 
				//- 		span.d-none.d-lg-inline Подбор 
				//- 		| по карте
				//- .col-auto
				//- 	+e.btn(href="#") 
				//- 		span.d-none.d-lg-inline Подбор 
				//- 		| по критериям
				
			+e.inner
				.row
					.col-lg-3
						+filter().--aside.--js
					.col-lg-9
						+b.filter-head
							.tabs
								+e.row.row
									.col-12.col-md
										+e.title.h5.fw-600.mb-0 Найдено земель:  
											| 
											span.text-primary 325
									.col-auto
										+e.btn--2.btn-tab(href="#tab1")
											span.d-none.d-lg-inline Подбор 
											| по карте
									.col-auto
										+e.btn--2.btn-tab(href="#tab2").active
											span.d-none.d-lg-inline Подбор 
											| по критериям
									.col-auto.d-lg-none
										button.btn.btn-outline-primary.filter-toggle-js Фильтры 
						.tabs__block#tab1
							
							a.btn.btn-outline-primary.link-modal-js.d-lg-none.mb-3.w-100(href="#modal-ways") Назначение
							+b.filter-map
								+e.map
										+e.map-widget#map3()
								+e.block#modal-ways
									.d-lg-none.mb-4.h5 Назначение
									+in-c("checkbox",'Все')(checked class="map-dot-input" data-color="all")
									+in-c("checkbox",'Зеленые')(checked class="map-dot-input" data-color="#00ff00" style="--color-map:#00ff00")
									+in-c("checkbox",'Красные')(checked class="map-dot-input" data-color="#ff1000" style="--color-map:#ff1000")
									+in-c("checkbox",'Желтые')(checked class="map-dot-input" data-color="#ffcc00" style="--color-map:#ffcc00")
									.d-lg-none
										button.btn.btn-primary.w-100.modal-close-js.mt-2 Показать участки
						.tabs__block#tab2.active

							+b.filter-head
								.row.g-3
									.col-auto.fw-600 Сортировать: 
									+e.slider--js.col-12.col-md
										+e.row-sort.swiper-wrapper
											+e.slide.swiper-slide
												+e.sorting-wrap
													+e.btn(type='button').active  по цене
													+e.sorting-item
														a(href="#")
															+icon('arrow-up')
														a(href="#").active
															+icon('arrow-down')
											+e.slide.swiper-slide
												+e.sorting-wrap
													+e.btn(type='button') по площади
													+e.sorting-item
														a(href="#")
															+icon('arrow-up')
														a(href="#").active
															+icon('arrow-down')
											+e.slide.swiper-slide
												+e.sorting-wrap
													+e.btn(type='button') по дате добавления
													+e.sorting-item
														a(href="#")
															+icon('arrow-up')
														a(href="#").active
															+icon('arrow-down')
							.row.gy-4
								- for (var x = 0; x < 9; x++)
									.col-lg-4
										+product-item(`Pellentesque mollis nibh non nibh laoreet`)
							+e.btn.w-100.mt-5(href="#") Показать еще
mixin sSearch2(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes).bg-light
		.container
			+b.section-title
				h2 Воспользуйтесь поиском
				+e.text Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.
			+e.show.h3.fw-600.mb-3 Отображение подбора
			.tabs
				+e.row-head.row.g-3.mb-4
					.col-auto
						+e.btn.btn-tab(href="#tab1").active  
							span.d-none.d-lg-inline Подбор 
							| по карте
					.col-auto
						+e.btn.btn-tab(href="#tab2")
							span.d-none.d-lg-inline Подбор 
							| по критериям
					//- .col-auto.d-lg-none.ms-auto
					//- 	button.btn.btn-outline-primary.filter-toggle-js Фильтры
				.tabs__block.active#tab1
					+b.filter-map
						+e.map
								+e.map-widget#map3()
						+e.block
							+in-c("checkbox",'Все')(checked class="map-dot-input" data-color="all")
							+in-c("checkbox",'Зеленые')(checked class="map-dot-input" data-color="#00ff00" style="--color-map:#00ff00")
							+in-c("checkbox",'Красные')(checked class="map-dot-input" data-color="#ff1000" style="--color-map:#ff1000")
							+in-c("checkbox",'Желтые')(checked class="map-dot-input" data-color="#ffcc00" style="--color-map:#ffcc00")
							//- | Фильтр по цветам 
							//- br
							//- input#red(type='checkbox' checked='true')
							//- | Красные
							//- br
							//- input#green(type='checkbox' checked='true')
							//- | Зеленые
							//- br
							//- input#yellow(type='checkbox' checked='true')
							//- | Желтые
				.tabs__block#tab2
					+b.filter-map
						+e.map
							+e.map-widget#map4()
							+filter2().--map.active
							//- | Фильтр по цветам 
							//- br
							//- input#red(type='checkbox' checked='true')
							//- | Красные
							//- br
							//- input#green(type='checkbox' checked='true')
							//- | Зеленые
							//- br
							//- input#yellow(type='checkbox' checked='true')
							//- | Желтые
			+b.filter-head
				+e.inner
					.row.g-3
						.col-md-auto.fw-600 Сортировать: 
						.col
							.row
								.col-auto
									+e.sorting-wrap
										+e.btn(type='button').active  по цене
										+e.sorting-item
											a(href="#")
												+icon('arrow-up')
											a(href="#").active
												+icon('arrow-down')
								.col-auto
									+e.sorting-wrap
										+e.btn(type='button').active по площади
										+e.sorting-item
											a(href="#")
												+icon('arrow-up')
											a(href="#").active
												+icon('arrow-down')
								.col-auto
									+e.sorting-wrap
										+e.btn(type='button').active по дате добавления
										+e.sorting-item
											a(href="#")
												+icon('arrow-up')
											a(href="#").active
												+icon('arrow-down')
			.row.gy-4
				- for (var x = 0; x < 12; x++)
					.col-xl-3.col-lg-4.col-sm-6.col-12 
						+product-item(`Pellentesque mollis nibh non nibh laoreet`)
			+pugin
		//- +filter()
			+e.inner
				.row
					.col-lg-3
					.col-lg-9


mixin sSearch3(h1, subtitle)
	// start sSearch
	+b.SECTION.sSearch--generalCatalog.section#sSearch&attributes(attributes)
		+e.container.container
			if h1
				+b.section-title
					h1= h1
					p!= subtitle
			else
				+b.section-title.text-center
					h2 Воспользуйтесь поиском
				//- p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.
			//- .h3.fw-600.mb-3 Отображение подбора
			+e.row-head.row.g-3.mb-4
				//- .col-auto
				//- 	+e.btn(href="#").active 
				//- 		span.d-none.d-lg-inline Подбор 
				//- 		| по карте
				//- .col-auto
				//- 	+e.btn(href="#") 
				//- 		span.d-none.d-lg-inline Подбор 
				//- 		| по критериям
				
			+e.inner
				.row
					.col-lg-3
						+filter('mapFilter').--aside.--js
					.col-lg-9
						+b.filter-head
							.tabs
								+e.row.row
									.col-12.col-md
										+e.title.h5.fw-600.mb-0 Найдено земель:  
											| 
											span.text-primary 325
									.col-auto
										+e.btn--2.btn-tab(href="#tab1")
											span.d-none.d-lg-inline Подбор 
											| по карте
									.col-auto
										+e.btn--2.btn-tab(href="#tab2").active
											span.d-none.d-lg-inline Подбор 
											| по критериям
									.col-auto.d-lg-none
										button.btn.btn-outline-primary.filter-toggle-js Фильтры 
						.tabs__block#tab1
							
							//- a.btn.btn-outline-primary.link-modal-js.d-lg-none.mb-3.w-100(href="#modal-ways") Назначение
							+b.filter-map
								+e.map
										+e.map-widget#map3()
						.tabs__block#tab2.active

						+b.filter-head
							.row.g-3
								.col-auto.fw-600 Сортировать: 
								+e.slider--js.col-12.col-md
									+e.row-sort.swiper-wrapper
										+e.slide.swiper-slide
											+e.sorting-wrap
												+e.btn(type='button').active  по цене
												+e.sorting-item
													a(href="#")
														+icon('arrow-up')
													a(href="#").active
														+icon('arrow-down')
										+e.slide.swiper-slide
											+e.sorting-wrap
												+e.btn(type='button') по площади
												+e.sorting-item
													a(href="#")
														+icon('arrow-up')
													a(href="#").active
														+icon('arrow-down')
										+e.slide.swiper-slide
											+e.sorting-wrap
												+e.btn(type='button') по дате добавления
												+e.sorting-item
													a(href="#")
														+icon('arrow-up')
													a(href="#").active
														+icon('arrow-down')
						.row.gy-4
							- for (var x = 0; x < 9; x++)
								.col-lg-4
									+product-item(`Pellentesque mollis nibh non nibh laoreet`)
						.row
							+pugin('true')