// start .sSearch
.sSearch {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.section-title{
			&__text{
				@include rfs(26px);
				max-width: 690px;
			}

		}
		&__inner{
			padding: 25px 20px 35px;
			// margin-left: -20px;
			// margin-right: -20px;
			background: #FFFFFF;
			border-radius: 10px;
			.product-item{
				background: #F8F8F8;
				h6 {
					font-family: "Gilroy";
				}
			}
		}
		.btn{
			@include media-breakpoint-down(sm) {
				padding: rem(15) rem(10);
				font-size: 12px;
			}
		}
		&__show {
			font-family: "Gilroy";
		}
		&__btn{
			@extend .btn, .btn-primary;
			@include media-breakpoint-up(lg) {

				min-width: 249px;
			}
			padding-left: 10px;	padding-right: 10px;
			&:not(:hover){
				opacity: 0.5;
			}
			&.active{
				opacity: 1;
			}
		}
		&__map{
			min-height: 654px;
			position: relative;
			
		}
	.tabs {
		&__content {
			&.active {
				display: flex;
			}
		}
	}
	&__map-widget{
		// height: 654px;
		// width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSearch
.tabs__block {
	&:not(.active){
		display: none;
	}
}
.filter-map{
	position: relative;
	margin-bottom: 50px;
	&__map{
		min-height: 654px;
		position: relative;
		padding-bottom: 50px;
		padding-top: 40px;
		
	}
	&__map-widget{
		// height: 654px;
		// width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	

	&__block{
		position: absolute;
		top: 48px;
		left: 20px;
		background-color: #fff;
		z-index: 20;
		width: 264px;
		padding: 20px;
	}
	.custom-input{
		margin-bottom: 14px;
		input{
			border-radius: 5px;
			border: 1px solid #fff;
			box-shadow: 0 0 0 1px #B9B9B9;
			width: 16px;
			height: 16px;
			&:checked{
				background: var(--color-map, #{$primary});
			}
		}
	}

}
.filter-head{
	margin-bottom: 26px;
	&__inner{
		background-color: #fff;
		padding: rem(20);
		border-radius: 10px;

	}
	.row{
		align-items: center;
		--bs-gutter-y: #{rem(15)};
	}
	&__row {
		margin-bottom: rem(20);
	}
	&__btn{
		@extend .btn, .btn-light;
		padding: rem(4) rem(10);
		margin-bottom: 0;
		&:hover,
		&.active{
			background: $primary;
			border-color: $primary;
			color: #fff;
		}
		&--2 {
			padding: rem(13) rem(28);
		}
	}
	&__sorting-wrap {
		display: flex;
		align-items: center;
	}
	&__sorting-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1;
		margin-left: rem(4);
		a {
			&.active {
				.icon {
					color: #BD006E;
				}
			}
		}
		.icon {
			font-size: rem(10);
			color: #DE80B7;
		}
	}
	&__row-sort {
		@include media-breakpoint-down(md) {
			// justify-content: center;
			--bs-gutter-y: #{rem(15)};
			--bs-gutter-x: #{rem(15)};
		}
	}
	&__title {
		font-family: "Gilroy";
	}
	&__slider {
		overflow: hidden;
		.filter-head__row-sort {
			@include media-breakpoint-up(lg) {
				justify-content: flex-end;
			}
		}
	}
	&__slide {
		max-width: max-content;
		&:not(:last-child) {
			margin-right: rem(17);
		}
	}
}

.filter-block{
	@include media-breakpoint-up(lg) {
		padding-top: rem(13);
	}
	&__head {
		font-family: "Gilroy";
	}
	&--map{
		position: relative;
		z-index: 4;
		max-width: 846px;
		background: #FFFFFF;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		
		// margin-bottom: 55px;

		padding: 40px;
	}
	&__inner{

		padding: 30px 20px;
		background: #F8F8F8;
		border-radius: 10px;
	}
	&__title{
		font-weight: 600;
		margin-bottom: 1rem;
	}
	&__group{
		border-bottom: 1px solid #AFAFAF;
		margin-bottom: 22px;
	}
	&__group-inner{
		max-height: 209px;
		overflow-x: hidden;
		overflow-y: auto;
		@extend .custom-scroll;
		--scroll: #{$primary};
		--bg-scroll: #C4C4C4;
		margin-bottom: 22px;
		padding-right: 10px;
	}
	.custom-input{
		margin-bottom: 12px;
		line-height: 1.2;
		margin-left: 1px;
		margin-top: 1px;
		input{
			margin-top: 0;
			background: $light;
			border: 1px solid #B9B9B9;
			border-radius: 5px;
		}
	}
	&__footer{
		.fw-600 {
			cursor: pointer;
		}
	}
	&__line{
		flex-wrap: nowrap;
		--bs-gutter-x: 6px;
		margin-bottom: 20px;
		input{
			font-size: 14px;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #AFAFAF;
			background: transparent;
			height: auto;
			padding: 0;
		}
		.small:last-child{
			width: 40px;
			text-align: right;
		}
	}

	&--aside &__inner{
		@include media-breakpoint-down(lg){
			padding: 0;
		}
	}
	&--aside{
			@include media-breakpoint-down(lg){
				@include mt;
			&:not(.active){
				transform: translate3d(100%,0, 0);
			}
				position: fixed;
				padding: 20px;
				width: 100%;
				height: 100vh;
				z-index: 1200;
				left: 0;
				top: 0;
				background: #F8F8F8;
				overflow-x: hidden;
				overflow-y: auto;
			}
	}
	&__close{
		cursor: pointer;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 20px;
		top: 20px;
		&::before,
		&::after{
			--position: 0; 
				--rotate: 45deg;
			content: ''; 
			left: 0;
			width: 15px;
			height: 1px;
			position: absolute;
			background-color: #000;
			top: 50%;
		}
		&:before { 
			transform: rotate3d(0,0,1, var(--rotate, 0));
		}

		&:after {
			// bottom: var(--position);
			transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
		}
	}
	.remoteness {
		.filter-block {
			&__group-inner {
				max-height: 232px;
			}
		}
		.custom-input {
			margin-bottom: 0;
			input {
				margin-top: 3px;
			}
			span {
				font-style: italic;
				font-size: rem(10);
			}
		}
	}
	.id {
		border-bottom: none;
		margin-bottom: rem(39);
		.filter-block {
			margin-bottom: 0;
			&__input {
				width: 50px;
			}
			&__line {
				margin-bottom: 24px;
			}
			&__group-inner {
				margin-bottom: 0;
			}
		}
		.custom-input {
			margin-bottom: 0;
			span {
				font-weight: 600;
			}
		}
	}
}