mixin allcss() 
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")

	//- <link rel="preconnect" href="https://fonts.googleapis.com">
	//- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	//- <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	link(href="css/main.min.css", rel="stylesheet")
	link(href="css/custom.css")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="js/common.js")
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')